In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from ast import literal_eval

import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim

In [5]:
word_to_ix = {"hello": 0, "world": 1}
embeds = nn.Embedding(2, 5)  # 2 words in vocab, 5 dimensional embeddings
lookup_tensor = torch.tensor([word_to_ix["hello"]], dtype=torch.long)
hello_embed = embeds(lookup_tensor)
print(hello_embed)

tensor([[ 0.1074,  1.3224, -3.1241,  0.6903, -0.8838]],
       grad_fn=<EmbeddingBackward>)

In [6]:
lookup_tensor

tensor([0])

In [37]:
df = pd.read_csv('../data/interim/keywords_clean.csv',index_col=0)
df['keywords']

14795

In [38]:
df = pd.read_csv('../data/interim/credits_clean.csv',index_col=0)
df

,cast,crew,id
0,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter'],862
1,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",['Joe Johnston'],8844
2,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",['Howard Deutch'],15602
3,"['Whitney Houston', 'Angela Bassett', 'Loretta...",['Forest Whitaker'],31357
4,"['Steve Martin', 'Diane Keaton', 'Martin Short...",['Charles Shyer'],11862
...,...,...,...
45471,"['Leila Hatami', 'Kourosh Tahami', 'Elham Korda']",['Hamid Nematollah'],439050
45472,"['Angel Aquino', 'Perry Dizon', 'Hazel Orencio...",['Lav Diaz'],111109
45473,"['Erika Eleniak', 'Adam Baldwin', 'Julie du Pa...",['Mark L. Lester'],67758
45474,"['Iwan Mosschuchin', 'Nathalie Lissenko', 'Pav...",['Yakov Protazanov'],227506
45475,NaN,['Daisy Asquith'],461257